<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="icon" href="data:,">

<!-- ==================== CSS ==================== -->
<!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<!-- Font -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous" media="print" onload="this.media='all'" />
<!-- ScroolBAr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.11.0/styles/overlayscrollbars.min.css" crossorigin="anonymous" />
<!-- AdminLTE -->
<link rel="stylesheet" th:href="@{/css/adminlte.css}" />
<!-- IziToast -->
<link rel="stylesheet" th:href="@{/css/iziToast.min.css}" />
<!-- DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.4/css/dataTables.bootstrap5.min.css" />
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/style.css}" />

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


<!-- ==================== JS ==================== -->
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<!-- Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE -->
<script th:src="@{/js/adminlte.js}"></script>
<!-- iziToast -->
<script th:src="@{/js/iziToast.min.js}"></script>
<!-- DataTables -->
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>



<script>

<!-- =========================== ACTIVE SIDEBAR ============================ -->
document.addEventListener("DOMContentLoaded", function() {
  const currentPath = window.location.pathname.replace(/\/$/, ""); 
  
  document.querySelectorAll(".nav-link").forEach(link => {
      const href = link.getAttribute("href");
      if (href) {
          const normalizedHref = href.replace(/\/$/, "");
          if (currentPath.startsWith(normalizedHref) && normalizedHref !== "") {
              
              link.classList.add("active");
              
              const parentTreeview = link.closest(".nav-treeview");
              
              if (parentTreeview) {
                  const grandParentNavItem = parentTreeview.closest(".nav-item");
                  if (grandParentNavItem) {
                      grandParentNavItem.classList.add("menu-open");

                      const parentLink = grandParentNavItem.querySelector(':scope > .nav-link');
                      if(parentLink) {
                          parentLink.classList.add("active");
                      }
                  }
              } else if (currentPath === normalizedHref) {
                  const parent = link.closest(".nav-item");
                  if (parent) {
                      parent.classList.add("menu-open"); // Opsional, tergantung style Anda
                  }
              }
          }
      }
  });
});
</script>

</head>
<body>
</body>
</html>